parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Parameter \\#1 \\$x of method pocketmine\\\\world\\\\World\\:\\:setBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 2
			path: ../../src/Main.php

		-
			message: "#^Parameter \\#2 \\$dimension_id of method jasonwynn10\\\\NativeDimensions\\\\Main\\:\\:applyToWorld\\(\\) expects 0\\|1\\|2, int\\<min, \\-1\\>\\|int\\<1, max\\> given\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Parameter \\#2 \\$needle of function str_contains expects string, mixed given\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Parameter \\#2 \\$y of method pocketmine\\\\world\\\\World\\:\\:setBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 2
			path: ../../src/Main.php

		-
			message: "#^Parameter \\#3 \\$z of method pocketmine\\\\world\\\\World\\:\\:setBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 2
			path: ../../src/Main.php

		-
			message: "#^Strict comparison using \\!\\=\\= between jasonwynn10\\\\NativeDimensions\\\\world\\\\DimensionalWorld and null will always evaluate to true\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Parameter \\#1 \\$world of static method jasonwynn10\\\\NativeDimensions\\\\Main\\:\\:makeEndSpawn\\(\\) expects jasonwynn10\\\\NativeDimensions\\\\world\\\\DimensionalWorld, pocketmine\\\\world\\\\World given\\.$#"
			count: 1
			path: ../../src/block/EndPortal.php

		-
			message: "#^Parameter \\#1 \\$x of method pocketmine\\\\world\\\\World\\:\\:getBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 12
			path: ../../src/block/Portal.php

		-
			message: "#^Parameter \\#2 \\$y of method pocketmine\\\\world\\\\World\\:\\:getBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 12
			path: ../../src/block/Portal.php

		-
			message: "#^Parameter \\#3 \\$z of method pocketmine\\\\world\\\\World\\:\\:getBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 12
			path: ../../src/block/Portal.php

		-
			message: "#^Cannot call method getId\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 2
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Cannot call method getNetworkSession\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 1
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Cannot call method getPosition\\(\\) on pocketmine\\\\block\\\\Bed\\|null\\.$#"
			count: 1
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Cannot call method getPosition\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 1
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Cannot call method getWorld\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 2
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Parameter \\#1 \\$direction of method jasonwynn10\\\\NativeDimensions\\\\event\\\\DimensionListener\\:\\:testDirectionForObsidian\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Parameter \\#1 \\$side of method pocketmine\\\\world\\\\Position\\:\\:getSide\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Undefined variable\\: \\$widthA$#"
			count: 1
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Undefined variable\\: \\$widthB$#"
			count: 1
			path: ../../src/event/DimensionListener.php

		-
			message: "#^Call to an undefined method pocketmine\\\\network\\\\mcpe\\\\protocol\\\\LevelChunkPacket\\:\\:getChunkPosition\\(\\)\\.$#"
			count: 1
			path: ../../src/network/DimensionSpecificCompressor.php

		-
			message: "#^Call to an undefined method pocketmine\\\\network\\\\mcpe\\\\protocol\\\\LevelChunkPacket\\:\\:isClientSubChunkRequestEnabled\\(\\)\\.$#"
			count: 1
			path: ../../src/network/DimensionSpecificCompressor.php

		-
			message: "#^Method jasonwynn10\\\\NativeDimensions\\\\world\\\\DimensionalWorld\\:\\:getEnd\\(\\) should return pocketmine\\\\world\\\\World but returns pocketmine\\\\world\\\\World\\|null\\.$#"
			count: 1
			path: ../../src/world/DimensionalWorld.php

		-
			message: "#^Method jasonwynn10\\\\NativeDimensions\\\\world\\\\DimensionalWorld\\:\\:getNether\\(\\) should return pocketmine\\\\world\\\\World but returns pocketmine\\\\world\\\\World\\|null\\.$#"
			count: 1
			path: ../../src/world/DimensionalWorld.php

		-
			message: "#^Method jasonwynn10\\\\NativeDimensions\\\\world\\\\DimensionalWorld\\:\\:getOverworld\\(\\) should return pocketmine\\\\world\\\\World but returns pocketmine\\\\world\\\\World\\|null\\.$#"
			count: 1
			path: ../../src/world/DimensionalWorld.php

		-
			message: "#^Method pocketmine\\\\world\\\\format\\\\io\\\\WorldData\\:\\:getSpawn\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../../src/world/DimensionalWorld.php

		-
			message: "#^Method pocketmine\\\\world\\\\format\\\\io\\\\WorldData\\:\\:save\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../../src/world/DimensionalWorld.php

		-
			message: "#^Call to an undefined method pocketmine\\\\world\\\\format\\\\io\\\\WritableWorldProvider\\:\\:getDatabase\\(\\)\\.$#"
			count: 2
			path: ../../src/world/DimensionalWorldManager.php

		-
			message: "#^Method jasonwynn10\\\\NativeDimensions\\\\world\\\\provider\\\\DimensionProviderManagerEntry\\:\\:fromPath\\(\\) invoked with 3 parameters, 1\\-2 required\\.$#"
			count: 2
			path: ../../src/world/DimensionalWorldManager.php

		-
			message: "#^Parameter \\#3 \\$provider of class jasonwynn10\\\\NativeDimensions\\\\world\\\\DimensionalWorld constructor expects pocketmine\\\\world\\\\format\\\\io\\\\WritableWorldProvider, pocketmine\\\\world\\\\format\\\\io\\\\WorldProvider given\\.$#"
			count: 2
			path: ../../src/world/DimensionalWorldManager.php

		-
			message: "#^Property jasonwynn10\\\\NativeDimensions\\\\world\\\\DimensionalWorldManager\\:\\:\\$worlds type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/world/DimensionalWorldManager.php

		-
			message: "#^jasonwynn10\\\\NativeDimensions\\\\world\\\\DimensionalWorldManager\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\world\\\\WorldManager\\.$#"
			count: 1
			path: ../../src/world/DimensionalWorldManager.php

		-
			message: "#^Call to an undefined method pocketmine\\\\world\\\\format\\\\io\\\\WritableWorldProvider\\:\\:getDatabase\\(\\)\\.$#"
			count: 4
			path: ../../src/world/converter/DimensionalFormatConverter.php

		-
			message: "#^Method jasonwynn10\\\\NativeDimensions\\\\world\\\\converter\\\\DimensionalFormatConverter\\:\\:generateNew\\(\\) should return array\\<jasonwynn10\\\\NativeDimensions\\\\world\\\\provider\\\\DimensionLevelDBProvider\\> but returns array\\<int, pocketmine\\\\world\\\\format\\\\io\\\\WritableWorldProvider\\>\\.$#"
			count: 1
			path: ../../src/world/converter/DimensionalFormatConverter.php

		-
			message: "#^Method pocketmine\\\\world\\\\format\\\\io\\\\WorldData\\:\\:save\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: ../../src/world/converter/DimensionalFormatConverter.php

		-
			message: "#^Method jasonwynn10\\\\NativeDimensions\\\\world\\\\data\\\\DimensionalBedrockWorldData\\:\\:setGenerator\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../src/world/data/DimensionalBedrockWorldData.php

		-
			message: "#^Method jasonwynn10\\\\NativeDimensions\\\\world\\\\data\\\\DimensionalBedrockWorldData\\:\\:setName\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../../src/world/data/DimensionalBedrockWorldData.php

		-
			message: "#^Cannot call method generateValues\\(\\) on jasonwynn10\\\\NativeDimensions\\\\world\\\\generator\\\\biomegrid\\\\MapLayer\\|null\\.$#"
			count: 1
			path: ../../src/world/generator/VanillaGenerator.php

		-
			message: "#^Cannot call method setBiomeId\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../src/world/generator/ender/EnderGenerator.php

		-
			message: "#^Cannot call method setFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 3
			path: ../../src/world/generator/ender/EnderGenerator.php

		-
			message: "#^Offset int\\<0, 15\\> does not exist on SplFixedArray\\<float\\>\\|null\\.$#"
			count: 1
			path: ../../src/world/generator/ender/EnderGenerator.php

		-
			message: "#^Variable \\$y might not be defined\\.$#"
			count: 1
			path: ../../src/world/generator/ender/populator/EnderPilar.php

		-
			message: "#^Parameter \\#3 \\$biomeId of method pocketmine\\\\world\\\\format\\\\Chunk\\:\\:setBiomeId\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../src/world/generator/nether/NetherGenerator.php

		-
			message: "#^Parameter \\#1 \\$x of method pocketmine\\\\world\\\\ChunkManager\\:\\:getBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 1
			path: ../../src/world/generator/nether/decorator/GlowstoneDecorator.php

		-
			message: "#^Parameter \\#2 \\$y of method pocketmine\\\\world\\\\ChunkManager\\:\\:getBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 1
			path: ../../src/world/generator/nether/decorator/GlowstoneDecorator.php

		-
			message: "#^Parameter \\#3 \\$z of method pocketmine\\\\world\\\\ChunkManager\\:\\:getBlockAt\\(\\) expects int, float\\|int given\\.$#"
			count: 1
			path: ../../src/world/generator/nether/decorator/GlowstoneDecorator.php

		-
			message: "#^jasonwynn10\\\\NativeDimensions\\\\world\\\\generator\\\\nether\\\\populator\\\\OrePopulator\\:\\:__construct\\(\\) does not call parent constructor from jasonwynn10\\\\NativeDimensions\\\\world\\\\generator\\\\nether\\\\populator\\\\biome\\\\OrePopulator\\.$#"
			count: 1
			path: ../../src/world/generator/nether/populator/OrePopulator.php

		-
			message: "#^Variable variables are not allowed\\.$#"
			count: 1
			path: ../../src/world/generator/noise/bukkit/SimplexNoiseGenerator.php

		-
			message: "#^jasonwynn10\\\\NativeDimensions\\\\world\\\\generator\\\\noise\\\\glowstone\\\\PerlinNoise\\:\\:__construct\\(\\) does not call parent constructor from jasonwynn10\\\\NativeDimensions\\\\world\\\\generator\\\\noise\\\\bukkit\\\\BasePerlinNoiseGenerator\\.$#"
			count: 1
			path: ../../src/world/generator/noise/glowstone/PerlinNoise.php

		-
			message: "#^Static property jasonwynn10\\\\NativeDimensions\\\\world\\\\generator\\\\object\\\\TerrainObject\\:\\:\\$PLANT_TYPES is never read, only written\\.$#"
			count: 1
			path: ../../src/world/generator/object/TerrainObject.php

		-
			message: "#^jasonwynn10\\\\NativeDimensions\\\\world\\\\provider\\\\DimensionLevelDBProvider\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\world\\\\format\\\\io\\\\leveldb\\\\LevelDB\\.$#"
			count: 1
			path: ../../src/world/provider/DimensionLevelDBProvider.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../../src/world/provider/EnderAnvilProvider.php

		-
			message: "#^Cannot access offset 1 on mixed\\.$#"
			count: 2
			path: ../../src/world/provider/EnderAnvilProvider.php

		-
			message: "#^Cannot access offset 2 on mixed\\.$#"
			count: 2
			path: ../../src/world/provider/EnderAnvilProvider.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 4
			path: ../../src/world/provider/EnderAnvilProvider.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../../src/world/provider/NetherAnvilProvider.php

		-
			message: "#^Cannot access offset 1 on mixed\\.$#"
			count: 2
			path: ../../src/world/provider/NetherAnvilProvider.php

		-
			message: "#^Cannot access offset 2 on mixed\\.$#"
			count: 2
			path: ../../src/world/provider/NetherAnvilProvider.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 4
			path: ../../src/world/provider/NetherAnvilProvider.php

		-
			message: "#^Parameter \\#3 \\$db of closure expects LevelDB, LevelDB\\|null given\\.$#"
			count: 1
			path: ../../src/world/provider/RewritableWorldProviderManagerEntry.php

		-
			message: "#^Property jasonwynn10\\\\NativeDimensions\\\\world\\\\provider\\\\RewritableWorldProviderManagerEntry\\:\\:\\$hasDimensions has no type specified\\.$#"
			count: 1
			path: ../../src/world/provider/RewritableWorldProviderManagerEntry.php

